&-1
position: absolute
left: 69%
top: 50%
animation: sphere-1 4.5s 0.1s infinite linear
&-2
position: absolute
left: 80%
top: 29%
&-3
position: absolute
left: 83%
top: 42%
&-4
position: absolute
left: 83%
top: 56%
&-5
position: absolute
left: 80%
top: 70%
&-6
position: absolute
left: 69%
top: 78%
&-7
position: absolute
top: 70%
left: 59%
&-8
position: absolute
top: 56%
left: 55%
&-9
position: absolute
top: 42%
left: 54.5%
&-10
position: absolute
top: 28%
left: 59%